<div class="container column inner summary">
    <div>Display</div>
    <div>
        <table>
            <thead>
                <tr>
                    <th class="email">Email</th>
                    <th class="function">Function</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="body">
        <table>
            <tbody>
            <tr ng-repeat="item in emails">
                <td class="email">{{item}}</td>
                <td class="function">
                    <a ng-click="deleteEmailSync($index)">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>