$black-color: #020304;
$gray-color: #8F8F8F;

$border: 1px solid $black-color;
$border-gray: 3px solid $gray-color;
$border-inset: 3px inset $gray-color;

.container{
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    margin-top: 5px;

    &.column{
        flex-direction: column;
        -webkit-flex-direction: column;
    }

    &.row{
        flex-direction: row;
        -webkit-flex-direction: row;
    }

    &.inner{
        border: $border;
        width: 100%;
        padding-bottom: 5px;
        padding-top: 5px;

        &.send{


        }

        &.summary{
            height: 300px;
            justify-content: flex-start;

            div.body{
                overflow-y: auto;
                height: auto;
                max-height: 280px;
            }

            table{
                width: 100%;
            }

            th{
                background-color: #ECECEC;
                height: 30px;
                color: $black-color;
                border: $border-inset;
            }

            tr{
                border-left: $border-gray;
                border-right: $border-gray;

                &:last-child{
                    border-bottom: $border-gray;
                }

            }

            th, td{
                &.email{
                    width: 70%;
                }

                &.function{
                    width: 30%;

                    a:hover{
                        cursor: pointer;
                    }
                }
            }
        }

        &.log{

            div.scroll{
                height: 100px;
                overflow-y: auto;
            }
        }
    }
}

